<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me.</h2>
<div class="summary">
    <p>I have a love for all things science, at Oregon Sate University I received a degree in marine biology and pursued that with various seasonal positions. After graduating I developed a growing interest for the science of computers and programming. I've honed my software engineering skills through immersive coding training. I am currently seeking a position as JavaScript Developer.</p>
</div><!--//summary-->
</section><!--//section-->
<!-- 
Email me at krblacketor@gmail.com.You can <a href="#" target="krblacketor@gmail.com">download this free resume/CV template here</a>. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu. -->