<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me.</h2>
<div class="summary">
    <p>I am a full stack developer specializing in JavaScript. I enjoy working with a range of technologies across the stack to create single-page web apps. I have expertise in ES6, React, React Native, Redux, building servers with Node and Express, SQL and NoSQL databases. While I love the challenge of creating something from nothing, I enthusiastically embrace learning new technologies as well as the challenge of diving into legacy code.</p>
        
    <p>I have a love for all things science, at Oregon Sate University I received a B.S. in Marine Biology and contributed to research efforts along the West Coast. In hopes of bringing innovative technology to the research community, I've developed and honed my software engineering skills through immersive coding training. I am currently seeking a position as JavaScript Developer, open to relocating. Email me at <a href="mailto: {{site.email}}">krblacketor@gmail.com</a> if you would like to chat more.</p>
</div><!--//summary-->
</section><!--//section-->
<!-- 
Email me at krblacketor@gmail.com.You can <a href="#" target="krblacketor@gmail.com">download this free resume/CV template here</a>. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu. -->