<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
    
    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="job-title">Natural Habit@</h3>
          <!-- <div class="time">2015 - Present</div> -->
        </div><!--//upper-row-->
        <div class="company">Product Manager</div>
        <!-- <div class="company">Startup Hubs, San Francisco</div> -->
      </div><!--//meta-->
      <div class="details">
        <!-- Describe your role here -->
        <h6>Live version <a href="https://expo.io/@blackeka/habitation"  target="_blank">here.</a> Installing <a href="https://expo.io/"  target="_blank">Expo</a> is required to run the app.</h6>
        <p> Cross-platform mobile app, for users to organize tasks and habits by location. Consistency is gamified with a growing habitat for each location, and ability to interact with Facebook friends also using the app.</p>  
        <p>My primary role building this application was as product manager, I was responsible for maintaining a unified vision of all the features. The development team included myself and three other engineers. I established an efficient workflow for the team that allowed for simultaneous development cycles to execute the build and deployment.</p>
        <p>I leveraged React Native to develop an application for use on iOS and Android while minimizing code disparity. I also designed and maintained a SQL database for scalability, management of several database transactions with multi-level relational user data and routine analysis of data.</p>
        <!-- <img src="{{site.baseurl}}/assets/images/screenshots/TaskBuilder.png" alt="task screenshot" /> -->
      </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="job-title">Lokalize</h3>
          <!-- <div class="time">2014 - 2015</div> -->
        </div><!--//upper-row-->
        <div class="company">Product Manager</div>
        <!-- <div class="company">Google, London</div> -->
      </div><!--//meta-->
      <div class="details">
        <h6>Live version <a href="https://lokalize-greenfield.herokuapp.com/"  target="_blank">here.</a></h6>
        <p>Users create meetup dinners and connect with others through their interest in the same cuisines.</p>
        <p>I built this application on a team of four engineers, where I was responsible for maintaining a clear vision of the application from start to end. This app was built with React allowing me to construct modularized frontend components of a single page application tom improve user experience. I integrated the Google Maps API to allow users to input a starting address and dynamically render directions to each event location the user joins. Using Express I developed RESTful server endpoints allowing users create, register for upcoming events, and view joined events.</p>  
      </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="job-title">Half-Wit-Cards</h3>
          <!-- <div class="time">2012 - 2014</div> -->
        </div><!--//upper-row-->
        <div class="company">Full-Stack Developer</div>
        <!-- <div class="company">Amazon, London</div> -->
      </div><!--//meta-->
      <div class="details">
        <h6>Live version <a href="https://half-wit-cards.herokuapp.com/#/login"  target="_blank">here.</a></h6>
        <p>Real time 2 player card game based off of the card game named Idiot.</p>
        <p>This application is a realtime game engine, built with Socket.io to establish a realistic card game between two players. I developed algorithms in Javascript to shuffle and distribute cards randomly and wrote separate functions to specific cards to create the game logic. I wrote modularized custom components using React to rerender cards appropriately in different components. I designed cards and layout of game board with CSS and Photoshop, for a realistic look.</p>  
      </div><!--//details-->
    </div><!--//item-->
    
</section><!--//section-->