<!--<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
    </div>
    <div class="item">
        <span class="project-title"><a href="#hook">Natural Habit@</a></span> - <span class="project-tagline">Cross-platform mobile app, to organize your daily tasks and habits by location.</span>
        
    </div>
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Hack Your Travel</a></span> - 
        <span class="project-tagline">A responsive single-page web app to generate unique personal traveler types to facilitate itinerary options with preparation and packing lists. </span>
        <div class="item">
            <span class="project-title"><a href="#" target="_blank">Lokalize</a></span> - <span class="project-tagline">A responsive single-page web app where users create meetup dinners and connect with others through their interest in the same cuisines.</span>
        </div>
    </div>
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Half-wit-cards</a></span> - <span class="project-tagline">A Real time 2 player card game based off of the card game named Idiot. </span>
    </div>
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
    </div>
</section>//section-->